version: '3.9'

services:
  app:
    build: .
    container_name: logger
    depends_on:
      - mongo-express
      - mongodb
    ports:
      - ${GRPC_PORT}:${GRPC_PORT}
    restart: always
    env_file:
      - .env
    networks:
      - application

networks:
  application:
    driver: bridge